{% extends 'base.html' %} {% block content %} {% load static %}
<div class="display-5 text-center">
  <h3 class="display-4">Savor the Flavor! <br><span class="badge bg-primary">Indulge in Pizza Perfection</span></h3>
</div>
<div class="card custom">
  <div class="card-body">
    <img src="{% static 'image/background.jpg' %}" alt="" />
  </div>

  <span class="display-6"
    >&ldquo; Experience the irresistible taste of freshly baked pizza, crafted with the
    finest ingredients and served hot to your doorstep. Bite into cheesy, saucy
    goodness that will leave you craving for more! &rdquo; </span
  >
  <div class="d-flex justify-content-center my-3">
    <a class="custom_btn" href="#">Order Now!</a>
  </div>
</div>
{% endblock content %}
